### Random Forest

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Read Data

In [2]:
df = pd.read_csv("Hotel-Reservations.csv")

In [3]:
df.columns

Index(['Booking_ID', 'no_of_adults', 'no_of_children', 'no_of_weekend_nights',
       'no_of_week_nights', 'type_of_meal_plan', 'required_car_parking_space',
       'room_type_reserved', 'lead_time', 'arrival_year', 'arrival_month',
       'arrival_date', 'market_segment_type', 'repeated_guest',
       'no_of_previous_cancellations', 'no_of_previous_bookings_not_canceled',
       'avg_price_per_room', 'no_of_special_requests', 'booking_status'],
      dtype='object')

In [4]:
df.head()
df.shape

(36275, 19)

In [5]:

df.describe()

,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,required_car_parking_space,lead_time,arrival_year,arrival_month,arrival_date,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,no_of_special_requests
count,36275.000000,36275.000000,36275.000000,36275.000000,36275.000000,36275.000000,36275.000000,36275.000000,36275.000000,36275.000000,36275.000000,36275.000000,36275.000000,36275.000000
mean,1.844962,0.105279,0.810724,2.204300,0.030986,85.232557,2017.820427,7.423653,15.596995,0.025637,0.023349,0.153411,103.423539,0.619655
std,0.518715,0.402648,0.870644,1.410905,0.173281,85.930817,0.383836,3.069894,8.740447,0.158053,0.368331,1.754171,35.089424,0.786236
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2017.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.000000,0.000000,0.000000,1.000000,0.000000,17.000000,2018.000000,5.000000,8.000000,0.000000,0.000000,0.000000,80.300000,0.000000
50%,2.000000,0.000000,1.000000,2.000000,0.000000,57.000000,2018.000000,8.000000,16.000000,0.000000,0.000000,0.000000,99.450000,0.000000
75%,2.000000,0.000000,2.000000,3.000000,0.000000,126.000000,2018.000000,10.000000,23.000000,0.000000,0.000000,0.000000,120.000000,1.000000
max,4.000000,10.000000,7.000000,17.000000,1.000000,443.000000,2018.000000,12.000000,31.000000,1.000000,13.000000,58.000000,540.000000,5.000000

Features

In [6]:
df['date'] = pd.to_datetime(dict(year=df.arrival_year, month=df.arrival_month, day=df.arrival_date), errors='coerce')
df["no_of_people"] = df["no_of_adults"]+df["no_of_children"]
df["no_of_nights"] = df["no_of_week_nights"]+df["no_of_weekend_nights"]
df['total_previous_booking'] = df['no_of_previous_cancellations'] + df['no_of_previous_bookings_not_canceled']
df.head()

,Booking_ID,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,type_of_meal_plan,required_car_parking_space,room_type_reserved,lead_time,arrival_year,...,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,no_of_special_requests,booking_status,date,no_of_people,no_of_nights,total_previous_booking
0,INN00001,2,0,1,2,Meal Plan 1,0,Room_Type 1,224,2017,...,0,0,0,65.00,0,Not_Canceled,2017-10-02,2,3,0
1,INN00002,2,0,2,3,Not Selected,0,Room_Type 1,5,2018,...,0,0,0,106.68,1,Not_Canceled,2018-11-06,2,5,0
2,INN00003,1,0,2,1,Meal Plan 1,0,Room_Type 1,1,2018,...,0,0,0,60.00,0,Canceled,2018-02-28,1,3,0
3,INN00004,2,0,0,2,Meal Plan 1,0,Room_Type 1,211,2018,...,0,0,0,100.00,0,Canceled,2018-05-20,2,2,0
4,INN00005,2,0,1,1,Not Selected,0,Room_Type 1,48,2018,...,0,0,0,94.50,0,Canceled,2018-04-11,2,2,0

In [7]:
df.columns

Index(['Booking_ID', 'no_of_adults', 'no_of_children', 'no_of_weekend_nights',
       'no_of_week_nights', 'type_of_meal_plan', 'required_car_parking_space',
       'room_type_reserved', 'lead_time', 'arrival_year', 'arrival_month',
       'arrival_date', 'market_segment_type', 'repeated_guest',
       'no_of_previous_cancellations', 'no_of_previous_bookings_not_canceled',
       'avg_price_per_room', 'no_of_special_requests', 'booking_status',
       'date', 'no_of_people', 'no_of_nights', 'total_previous_booking'],
      dtype='object')

In [8]:
features = ['date','no_of_people','no_of_nights', 'total_previous_booking', 'room_type_reserved', 'avg_price_per_room','lead_time','market_segment_type','repeated_guest',
'no_of_special_requests', 'booking_status']

In [9]:
df_use = df[features]
df_use.head

<bound method NDFrame.head of             date  no_of_people  no_of_nights  total_previous_booking  \
0     2017-10-02             2             3                       0
1     2018-11-06             2             5                       0
2     2018-02-28             1             3                       0
3     2018-05-20             2             2                       0
4     2018-04-11             2             2                       0
...          ...           ...           ...                     ...
36270 2018-08-03             3             8                       0
36271 2018-10-17             2             4                       0
36272 2018-07-01             2             8                       0
36273 2018-04-21             2             3                       0
36274 2018-12-30             2             3                       0

      room_type_reserved  avg_price_per_room  lead_time market_segment_type  \
0            Room_Type 1               65.00        224             Offline
1            Room_Type 1              106.68          5              Online
2            Room_Type 1               60.00          1              Online
3            Room_Type 1              100.00        211              Online
4            Room_Type 1               94.50         48              Online
...                  ...                 ...        ...                 ...
36270        Room_Type 4              167.80         85              Online
36271        Room_Type 1               90.95        228              Online
36272        Room_Type 1               98.39        148              Online
36273        Room_Type 1               94.50         63              Online
36274        Room_Type 1              161.67        207             Offline

       repeated_guest  no_of_special_requests booking_status
0                   0                       0   Not_Canceled
1                   0                       1   Not_Canceled
2                   0                       0       Canceled
3                   0                       0       Canceled
4                   0                       0       Canceled
...               ...                     ...            ...
36270               0                       1   Not_Canceled
36271               0                       2       Canceled
36272               0                       2   Not_Canceled
36273               0                       0       Canceled
36274               0                       0   Not_Canceled

[36275 rows x 11 columns]>

In [10]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df_use["room_type_reserved"] = le.fit_transform(df_use["room_type_reserved"])
df_use["market_segment_type"] = le.fit_transform(df_use["market_segment_type"])

C:\Users\Administrator\AppData\Local\Temp\ipykernel_3120\3137466622.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_use["room_type_reserved"] = le.fit_transform(df_use["room_type_reserved"])
C:\Users\Administrator\AppData\Local\Temp\ipykernel_3120\3137466622.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_use["market_segment_type"] = le.fit_transform(df_use["market_segment_type"])

In [11]:
X = df_use.iloc[:,1:-1]
y = df_use.iloc[:,-1]

In [12]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X,y,train_size = 0.8,random_state=7)

In [13]:
from sklearn.ensemble import RandomForestClassifier

rd = RandomForestClassifier( criterion= "entropy",random_state=2)
rd.fit(X_train, y_train)

RandomForestClassifier(criterion='entropy', random_state=2)

In [14]:
y_pred = rd.predict(X_test)

In [15]:
result = pd.DataFrame({'y': y_test,'y_pred':y_pred })
print(result)

                  y        y_pred
12455  Not_Canceled  Not_Canceled
17262      Canceled      Canceled
30289  Not_Canceled  Not_Canceled
31522      Canceled      Canceled
32021  Not_Canceled  Not_Canceled
...             ...           ...
5771       Canceled      Canceled
31258  Not_Canceled  Not_Canceled
1019       Canceled      Canceled
26572      Canceled      Canceled
26755      Canceled      Canceled

[7255 rows x 2 columns]

In [16]:
result.info()
result.describe()
result.value_counts()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7255 entries, 12455 to 26755
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   y       7255 non-null   object
 1   y_pred  7255 non-null   object
dtypes: object(2)
memory usage: 170.0+ KB

y             y_pred
Not_Canceled  Not_Canceled    4501
Canceled      Canceled        1857
              Not_Canceled     547
Not_Canceled  Canceled         350
dtype: int64